.idea/

\.DS_Store

democratizing_weather_data/streaming/prototypes/\.ipynb_checkpoints/analyze-checkpoint\.ipynb

democratizing_weather_data/streaming/APIs/weather\.json

democratizing_weather_data/streaming/APIs/weather2\.json

democratizing_weather_data/streaming/prototypes/\.ipynb_checkpoints/

democratizing_weather_data/streaming/prototypes/AltairTutorial/

democratizing_weather_data/streaming/prototypes/stamen_toner_plot\.html

democratizing_weather_data/streaming/prototypes/gmap_plot\.html

democratizing_weather_data/streaming/prototypes/geojson\.html

democratizing_weather_data/streaming/prototypes/UW_PCE_BIGDATA_230B-Weather\.ipynb

democratizing_weather_data/streaming/prototypes/Plotly Demo\.ipynb

democratizing_weather_data/streaming/prototypes/1000_MarkerCluster\.html
